<nav class="navbar navbar-light bg-faded navbar-static-top">
  <a class="navbar-brand" routerLink="/">GRR</a>
  <ul class="nav navbar-nav navbar-left">
    <li class="nav-item"><a routerLink="/animals" class="nav-link">Collection</a></li>
    <li class="nav-item"><a routerLink="/available" class="nav-link">Available</a></li>
    <li class="nav-item"><a routerLink="/projects" class="nav-link">Projects</a></li>
    <li class="nav-item"><a routerLink="/customer" class="nav-link">Customer Portal</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <button class="btn btn-primary" (click)="openLogin()" *ngIf="!authService.isLoggedIn()">Login</button>
      <button class="btn btn-primary" (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
<template ngbModalContainer></template>
