<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" *ngIf="project">
      <h5>{{project.Dam.TrackingId}} x {{project.Sire.TrackingId}}</h5>
      <div>
        {{project.Description}}
      </div>
      <masonry [options]="masonryOptions" [useImagesLoaded]="true">
        <masonry-brick *ngFor="let animal of project.Offspring" class="brick card card-inverse">
          <app-animal-card [animal]="animal"></app-animal-card>
        </masonry-brick>
      </masonry>
    </div>
  </div>
</div>
