<h2>Update an Animal</h2>

<form>
  <div class="form-group">
    <label for="trackingId">Tracking ID</label>
    <input type="text" id="trackingId" class="form-control" placeholder="Tracking ID">
  </div>
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" placeholder="Name" id="Name">
  </div>
  <div class="form-group">
    <label for="DOB">DOB</label>
    <input type="text" class="form-control" placeholder="DOB" id="DOB">
  </div>
  <div class="form-group">
    <label for="DateAdded">Date Added</label>
    <input type="text" class="form-control" placeholder="Date Added" id="DateAdded">
  </div>
  <div class="form-group">
    <label for="DateRemoved">Date Removed</label>
    <input type="text" class="form-control" placeholder="Date Removed" id="DateRemoved">
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <textarea class="form-control" placeholder="Description" rows="3" cols="30" id="Description"></textarea>
  </div>
  <div class="form-group">
    <label for="FatherId">Father</label>
    <input type="text" class="form-control" placeholder="Father ID" id="FatherId">
  </div>
  <div class="form-group">
    <label for="MotherId">Mother</label>
    <input type="text" class="form-control" placeholder="Mother ID" id="MotherId">
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" id="gender">
      <option value="m">Male</option>
      <option value="f">Female</option>
      <option value="u">Unknown</option>
    </select>
  </div>
  <div class="form-group">
    <label for="HatchColor">Hatch Color</label>
    <input type="text" class="form-control" placeholder="Hatch Color" id="HatchColor">
  </div>
  <div class="form-group">
    <label for="HatchWeight">Hatch Weight</label>
    <input type="text" class="form-control" placeholder="Hatch Weight" id="HatchWeight">
  </div>
  <div class="form-group">
    <label for="Lineage">Lineage</label>
    <input type="text" class="form-control" placeholder="Lineage" id="Lineage">
  </div>
  <div class="form-group">
    <label for="Pairing">Pairing</label>
    <input type="text" class="form-control" placeholder="Pairing" id="Pairing">
  </div>
  <div class="form-group">
    <label for="PedigreePedigree">Pedigree</label>
    <input type="text" class="form-control" placeholder="Pedigree" id="Pedigree">
  </div>
  <div class="form-group">
    <label for="Price">Price</label>
    <input type="text" class="form-control" placeholder="Price" id="Price">
  </div>
  <div class="form-group">
    <label for="Species">Species</label>
    <input type="text" class="form-control" placeholder="Species" id="Species">
  </div>
  <div class="form-group">
    <label for="SpeciesLatin">Species Latin</label>
    <input type="text" class="form-control" placeholder="Species Latin" id="SpeciesLatin">
  </div>
  <div class="form-group">
    <label for="Weight">Weight</label>
    <input type="text" class="form-control" placeholder="Weight" id="Weight">
  </div>
  <div class="form-group">
    <label for="Status">Status</label>
    <input type="text" class="form-control" placeholder="Status" id="Status">
  </div>
  <div class="form-group">
    <label for="Owner">Owner</label>
    <input type="text" class="form-control" placeholder="Owner" id="Owner">
  </div>
  <div class="form-group">
    <label for="ProductOfProject">Product Of Project</label>
    <input type="text" class="form-control" placeholder="Product Of Project" id="ProductOfProject">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
